/*
Optional: "VT323" font face from Google web fonts.
The following import is a very retro terminal font, if you want to use it. If you
do, remove this comment and un-comment this section and add 'VT323' to the
beginning of the font-family list for #terminal{} below. You may need to increase
the font size as it's quite small.
@import url('https://fonts.googleapis.com/css?family=VT323');
*/

/**
* Terminal container.
*/
#terminal {
    font-family: 'Courier New', monospace;
    width:       100%;
    height:      100%;
}

/**
* The input span where the input happens.
* Also applied to the previous inputs made in the current session.
*/
#terminal .input {
    height:         1em;
    min-width:      3em;
    outline-color:  transparent;
    border:         none;
    display:        inline-block;
}

#terminal .prompt{
    color:#00ff99;
}

#terminal p {
    margin:     0;
    padding:    0;
}

#terminal .filesystem-d {
    font-weight:bold;
    color: #6666ff;
}
#terminal .filsystem-f {

}
#terminal div{
    word-wrap: break-word;
}
